body {
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
    background: #08244d;
    color: #dedede;
    padding: 30px 60px;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
}

.footer-logo span {
    color: #dedede; 
}

/* Menu */
.footer-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-menu li a {
    text-decoration: none;
    color: #dedede;
    font-size: 25px;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: #dedede;
}

.footer-bottom {
    display: flex;
    justify-content: center;   /* tadinya space-between */
    align-items: center;
    margin-top: 25px;
}


.footer-links a {
    text-decoration: none;
    color: #dedede;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #dedede;
    font-size: 25px;
}

/* Sosial Media Icon */
.footer-social a img {
    width: 28px;
    margin-left: 10px;
}
