body {
  margin: 0;
  font-family: Arial, sans-serif
}


.judul {
  color: #ff9000;
  font-size: 50px;
  margin-bottom: 25px;
}

/* Cards Container */
.cards {
  display: flex;
  gap: 25px;
  justify-content: center; 
}

/* Card sebelum diklik */
.card {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  background: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: width 0.35s ease, height 0.35s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* foto besar defaultnya disembunyikan */
.big {
  opacity: 0;
  transition: opacity 0.35s;
}

.thumb {
  opacity: 1;
  transition: opacity 0.35s;
}

.card .label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.tag {
  background: orange;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Card setelah diklik */
.card.expanded {
  width: 800px;
  height: 500px;
}

.card.expanded .thumb {
  opacity: 0;
}

.card.expanded .big {
  opacity: 1;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tombol Lokasi */
.btn-lokasi {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: orange;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-lokasi:hover {
    background: #ff6a00;
}

footer {
    background: #08244d;
    color: #dedede;
    padding: 30px 60px;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
}

.footer-logo span {
    color: #dedede; 
}

/* Menu */
.footer-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-menu li a {
    text-decoration: none;
    color: #dedede;
    font-size: 25px;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: #dedede;
}

.footer-bottom {
    display: flex;
    justify-content: center;   /* tadinya space-between */
    align-items: center;
    margin-top: 25px;
}


.footer-links a {
    text-decoration: none;
    color: #dedede;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #dedede;
    font-size: 25px;
}

/* Sosial Media Icon */
.footer-social a img {
    width: 28px;
    margin-left: 10px;
}
