body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

/* HEADER */
.hero {
  background: url('img/banner.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 60px 20px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 8px;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
}

/* SECTION TITLE */
.menu-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px;
}

.menu-section h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* GRID */
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* CARD */
.menu-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 7px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-4px);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 12px;
}

.info h4 {
  margin: 0 0 6px;
  font-size: 25px;
}

.rating {
  font-size: 14px;
  color: #ff9800;
  margin-bottom: 6px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom span {
  font-weight: bold;
  color: #444;
}

.bottom button {
  background: orange;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.bottom button:hover {
  background: #cc7a00;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 28px;
  }
}
.card {
    width: 500px;
	height: 400px;
    background: #ff8a00;
    border-radius: 5px;
    overflow: hidden;
}

/* Judul atas */
.title {
    background: #08224a;
    color: #ff8a00;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 20px;
}

/* Bagian isi */
.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Gambar */
.food-img {
    width: 1000px;
	height: 600px;
    border-radius: 15px;
}

/* Grup teks */
.text-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

/* Baris teks + tombol */
.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Tombol lokasi */
.loc-btn {
    background: #08224a;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.loc-btn:hover {
    opacity: 0.8;
}

.carousel-container {
    width: 1020px;
	height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* isi slide */
.carousel {
    display: flex;
    gap: 20px;
    transition: 0.4s;
}

/* gambar */
.carousel img {
    width: 1000px;
	height: 600px;
    border-radius: 60px;
}

/* tombol */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #08224a;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 50%;
	 z-index: 999; 
}

.prev {
	left:20px
    
}

.next {
    right: 20px;
}

h1{
	font-family:   "Gill Sans MT" "sans-serif";
	color: #ff8c00;
	font-size: 50px;
	
}
h2{
	font-size: 70px;
	color: #08244d;
}

footer {
    background: #08244d;
    color: #dedede;
    padding: 30px 60px;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
}

.footer-logo span {
    color: #dedede; 
}

/* Menu */
.footer-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-menu li a {
    text-decoration: none;
    color: #dedede;
    font-size: 25px;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: #dedede;
}

.footer-bottom {
    display: flex;
    justify-content: center;   /* tadinya space-between */
    align-items: center;
    margin-top: 25px;
}


.footer-links a {
    text-decoration: none;
    color: #dedede;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #dedede;
    font-size: 25px;
}

/* Sosial Media Icon */
.footer-social a img {
    width: 28px;
    margin-left: 10px;
}



