/* RESET */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f5f5f5;
}

/* MAIN CONTAINER */
.contact-container {
    display: flex;
    width: 1600px;
	height: auto;
    margin: 40px auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.contact-info {
    width: 60%;
    padding: 40px;
    background: 
        linear-gradient(rgba(8,36,77,0.9), rgba(8,36,77,0.9)),
        url("overlay.png") center/cover no-repeat;
    color: white;
}

.contact-info h2 {
    font-size: 50px;
    margin-bottom: 35px;
}

.contact-info p {
    font-size: 20px;
    line-height: 1.3;
    
}

/* ICON + TEXT BOX */
.info-box {
    display: flex;
    align-items: flex-start;
    font-size: 50px;

}


/* RIGHT SIDE FORM */
.contact-form {
    width: 55%;
    padding: 40px;
    background: #ffffff;
}

.contact-form label {
    font-size: 25px;
    margin-top: 15px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    font-size: 20px;
    transition: 0.2s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #08244d;
    outline: none;
    box-shadow: 0 0 0 2px rgba(6,95,70,0.2);
}

/* TEXTAREA */
.contact-form textarea {
    height: 150px;
    resize: none;
}

/* SUBMIT BUTTON */
button {
    width: 100%;
    padding: 18px;
    background: #08244d;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a6a6a6;
}

/* RESPONSIVE */

footer {
    background: #dedede;
    color: #08244d;
    padding: 30px 60px;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
}

.footer-logo span {
    color: #08244d; 
}

/* Menu */
.footer-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-menu li a {
    text-decoration: none;
    color: #08244d;
    font-size: 25px;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: #08244d;
}

.footer-bottom {
    display: flex;
    justify-content: center;   /* tadinya space-between */
    align-items: center;
    margin-top: 25px;
}


.footer-links a {
    text-decoration: none;
    color: #08244d;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #08244d;
    font-size: 25px;
}

/* Sosial Media Icon */
.footer-social a img {
    width: 28px;
    margin-left: 10px;
}
